.logo a{
    text-indent: -9999px;
    display: block;
    width:103px;
    height: 81px;
    text-align: center;
    margin: 50px auto;
    background:url('../assets/img/logo.jpg') center no-repeat;
}