.filter__title{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: #4a4a4a;
}
.filter__btn-group{
  display: inline-flex;
  vertical-align: middle;
  margin: 10px 0 20px;
}
.filter__btn-item{
  padding: 10px 20px;
  border: 1px solid #d2d5d6;
  color: #2196f3;
  transition: all .3s;
  display: block;
  background: #fff;
  cursor: pointer;
}
.filter__btn-item:hover{
  background: #f2fcff;
  border: 1px solid #2196f3;
}
.filter__btn-item:first-child{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.filter__btn-item:last-child{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.filter__btn-item.active{
  background: #2196f3;
  color: #fff;
  border: 1px solid #2196f3;
}
.filter__checkbox-item{
  padding: 10px 0;
  position: relative;
}
.filter__checkbox-item span{
  opacity: 0;
  position: absolute;
  right: 0;
  color: #2196f3;
  text-transform: uppercase;
  transition: all .3s;
  font-weight: 600;
  font-size: 12px;
  top: 12px;
}
.filter__checkbox-item:hover{
  background: #f1fcff;
}
.filter__checkbox-item:hover span{
  background: #f1fcff;
  opacity: 1;
}
.filter__checkboxes input {
  z-index: -1;
  opacity: 0;
  margin: 0px 0 0 20px;
}
.filter__checkboxes label{
  position: relative;
  cursor: pointer;
}
.filter__checkboxes label:before{
  content: '';
  position: absolute;
  top: 0px;
  left: -30px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #d2d5d6;
}

.filter__checkboxes input:checked + label:before{
  background:#f2fcff url('../../../assets/img/check.jpg') center no-repeat;
}
